@import '../../../../../vars.less';

.property-text {
  display: block;
  border: 0;
  width: 100%;

  &:active, &:focus, &:hover, & * {
    border: none;
    box-shadow: none;
    outline: none;
  }

  &:focus {
    background-color: @color-focus-gray;
  }
}