@import '../../../../../vars.less';

.picon.picon-in-label {
  position: relative !important;
  margin-right: 8px !important;
  top: -2px !important;
}

.property-popover {
  width: 200px;
  
  .ant-popover-inner-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .ant-menu {
    border: none;

    &-item-group-title, &-submenu-title {
      transition-duration: 0s;
    }

    &-item, &-item-selected, &-submenu-title {
      &:active, &:focus, &:hover {
        background-color: transparent;
      }
    }

    &-submenu-title {
      height: 32px !important;
      line-height: 32px !important;
      margin-bottom: 8px !important;
      padding-left: 16px !important;
    }

    &-vertical {
      box-shadow: none !important;
      border: none !important;
    }

    &-item {
      &-selected {
        background-color: transparent !important;
        color: @text-color;
      }
    }

    .ant-menu-item-group-title {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

}