@import "../../../../vars.less";

.property {
  position: relative;
  max-height: @base-inline-height;

  &-has-container {
    padding-left: @base-indent;
  }
  
  &-drag-icon, &-value {
    display: block;
    cursor: pointer;
    transition: background-color @animation-duration-base;
    float: left;
    
    &-has-container {
      border-radius: @border-radius-base;
    }

    &:hover {
      background-color: @color-hover-gray;
    }
  }

  &-value {
    padding: 0 @base-inline-indent;
  }
  
  &-drag-icon {
    display: none;
    height: @base-inline-height;
    line-height: @base-inline-height;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 @base-indent-half;

    &-has-container {
      display: block;
    }

    svg {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: rgba(55, 53, 47, 0.4);
    }
  }

  &-value {
    width: 60%;
    height: @base-inline-height;
    line-height: @base-inline-height;
    padding: 0;
    color: @text-color;
    position: relative;
    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;

    &-addon {
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translate(0, -50%);
      opacity: 0;
      transition: opacity @animation-duration-base;

      .ant-btn {
        height: 26px;
        padding: 0 5px;
      }

      &:nth-child(2) { right: 32px }
    }

    &-has-container {
      width: (60% - @base-indent-half);
      margin-left: @base-indent-half;
    }

    &-without-label {
      width: 100%;
      transition: width @animation-duration-slow;

      &-active {
        width: calc(100% ~"-" @base-inline-height)
      }
    }

    & > * {
      position: relative;
      width: 100%;
    }

    .ant-select-selection__rendered {
      display: block;
      height: @base-inline-height;
      line-height: @base-inline-height;

      .ant-select-selection__placeholder {
        padding-top: 1px;
      }
    }

    .ant-select, 
    .ant-select-selection {
      &:active, &:focus, &:hover, & * {
        border: none;
        box-shadow: none;
        outline: none;
      }
    }

    .ant-select {
      display: block;
      border: 0;
      width: 100%;

      &:focus {
        background-color: @color-focus-gray !important;
      }
    }
    
    &:hover {
      .ant-select, 
      .ant-select-selection, 
      .anticon {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: @color-hover-gray;
      }

      .property-value-addon {
        opacity: 1;

        .anticon {
          background-color: transparent !important;
        }
      }
    }
  }

}