<div class="create-company">
  <nz-steps [nzCurrent]="current" nzProgressDot>
    <nz-step></nz-step>
    <nz-step></nz-step>
    <nz-step></nz-step>
    <nz-step></nz-step>
    <nz-step></nz-step>
  </nz-steps>
  
  <div class="create-company-steps-content">
    <div [ngSwitch]="current">
      <div *ngSwitchCase="0">
        <div class="create-company-steps-content-item">
          <div class="create-company-steps-content-item-image"></div>
          <div class="create-company-steps-content-item-text">
            <p>Affronting everything discretion men now own did. Still round match we to. Frankness pronounce daughters remainder extensive has but. Happiness cordially one determine concluded fat. Plenty season beyond by hardly giving of. Consulted or acuteness dejection an smallness if. Outward general passage another as it. Very his are come man walk one next. Delighted prevailed supported too not remainder perpetual who furnished. Nay affronting bed projection compliment instrument.</p>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="1">
        <div class="create-company-steps-content-item">
          <div class="create-company-steps-content-item-image"></div>
          <div class="create-company-steps-content-item-text">
            <p>Now seven world think timed while her. Spoil large oh he rooms on since an. Am up unwilling eagerness perceived incommode. Are not windows set luckily musical hundred can. Collecting if sympathize middletons be of of reasonably. Horrible so kindness at thoughts exercise no weddings subjects. The mrs gay removed towards journey chapter females offered not. Led distrusts otherwise who may newspaper but. Last he dull am none he mile hold as.</p>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="2">
        <div class="create-company-steps-content-item">
          <div class="create-company-steps-content-item-image"></div>
          <div class="create-company-steps-content-item-text">
            <p>Cordially convinced did incommode existence put out suffering certainly. Besides another and saw ferrars limited ten say unknown. On at tolerably depending do perceived. Luckily eat joy see own shyness minuter. So before remark at depart. Did son unreserved themselves indulgence its. Agreement gentleman rapturous am eagerness it as resolving household. Direct wicket little of talked lasted formed or it. Sweetness consulted may prevailed for bed out sincerity.</p>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="3">
        <div class="create-company-steps-content-item">
          <div class="create-company-steps-content-item-image"></div>
          <div class="create-company-steps-content-item-text">
            <p>By spite about do of do allow blush. Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer. Abroad no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add insensible everything and friendship conviction themselves. Theirs months ten had add narrow own.</p>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="4">
        <div class="create-company-steps-content-item">
          <div class="create-company-steps-content-item-form">
            <div class="create-company-steps-content-item-form-title">Request form</div>
            <input nz-input placeholder="Company name" [(ngModel)]="companyName">
            <input nz-input placeholder="Company abbreviation" [(ngModel)]="companyAbbreviation">
            <input nz-input placeholder="Company slogan (optional)" [(ngModel)]="companySlogan">
            <textarea rows="6" nz-input placeholder="Company description" [(ngModel)]="companyDescription"></textarea>
          </div>
        </div>
      </div>
      <div *ngSwitchDefault>
        Error
      </div>
    </div>
  </div>

  <div class="create-company-steps-action">
    <button nz-button nzType="default" (click)="skip()" *ngIf="current < 4" style="margin-right: 10px;">
      <span>Skip</span>
    </button>
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0" style="margin-right: 10px;">
      <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 4">
      <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 4">
      <span>Done</span>
    </button>
  </div>
</div>