.create-company {
  padding: 20px 25px;

  &-steps {
    &-content {
      &-item {
        margin-top: 15px;
        position: relative;

        &-image {
          background-color: #eee;
          width: 100%;
          height: 65vh;
          margin-bottom: 15px;
        }
  
        &-text {
          line-height: 26px;
        }

        &-form {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          min-width: 480px;
          top: 200px;
          text-align: center;

          &-title {
            font-size: 24px;
            font-weight: 300;
          }

          .ant-input {
            margin-top: 20px;
          }

          textarea {
            resize: none;
            line-height: 26px;
          }
        }
      }
    }

    &-action {
      text-align: right;
      padding: 0 25px;
      padding-bottom: 20px;
      position: absolute;
      z-index: 999;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
}