<div class="login">
  <div class="login-title">{{ localize('login.title') }}</div>
  
  <input class="login-input" [(ngModel)]="form.login" nz-input [placeholder]="localize('login.form.login')">
  <input class="login-input" [(ngModel)]="form.password" nz-input type="password" [placeholder]="localize('login.form.password')">
  
  <div class="login-nav-buttons">
    <button (click)="onSubmit()" [nzLoading]="loading" class="login-nav-button login-nav-button-next" nz-button nzType="primary">
      {{ localize('submit') }}
    </button>
  </div>
</div>