@import '../../../../vars.less';

.login {
  &-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    font-size: 22px;
  }

  &-input {
    margin-bottom: 25px;
    color: #333;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-nav-buttons {
    text-align: right;
  }

  &-nav-button-previous {
    margin-right: 15px;
  }

  &-nav-button {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}