<div class="messages-list-item">
  <div class="message-list-item-user-avatar" style="background-image: url('{{lastMessageUserAvatar}}');"></div>
  <div class="messages-list-item-title">
    {{ title }}
  </div>
  <div class="messages-list-item-timestamp">
    {{ timestamp }}
  </div>
  <div class="messages-list-item-last-message">
    {{ lastMessage }}
  </div>
  <div class="messages-list-item-badge">
    {{ badgeCount }}
  </div>
</div>