<div class="property-container">
  <div dragula="properties">
    <div *ngFor="let property of properties">
      <app-property [property]="property" [withIcon]="false"></app-property>
    </div>
  </div>
</div>