@import '../../../../../vars.less';

@header-line-height: 40px;

:host ::ng-deep .ant-menu-dark .ant-menu-item-group-title {
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
}

:host ::ng-deep .picon.picon-sider-menu-icon {
  &-invite {
    position: relative;
    top: -2px;
  }
}

:host {
  /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.router-outlet-parent {
  position: relative;
  height: 100%;
}

.ant-row {
  height: 100%;
}

.sider {
  background-color: @primary-color;
  height: 100%;
  width: inherit;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;

  &-col {
    position: relative;
    height: 100%;
    overflow: hidden;
    
    &-closed {
      display: none;
    }
  }

  &-logo {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    margin-bottom: 10px;

    height: @header-height;
    color: #fff;
    font-size: 22px;
    border-bottom: 1px solid color(~`colorPalette("@{primary-color}", 4.8)`);
    padding: 7px 15px;
    line-height: @header-line-height;
    font-weight: 300;

    &-image {
      width: 28px;
      height: 28px;
      margin-top: -4px;
      margin-right: 7px;
    }
  }

  &-menu {
    border: none;

    &-item {
      position: relative;
      
      &-title {
        display: inline-block;
        margin-left: 15px;
        font-weight: 400;
        color: rgba(255,255,255,0.85);
        transition: color @animation-duration-fast;
        font-size: 16px;

        &:hover, &-active {
          color: rgba(255,255,255,1);
        }
      }

      &-badge {
        position: absolute;
        right: 20px;
        top: 15px;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #ea5455;
      }
    }

    &-companies-item {
      color: rgba(255,255,255,0.8);
      transition: color @animation-duration-fast;
      position: relative;

      &-add span {
        color: rgba(255,255,255,0.4);

        &:hover {
          color: rgba(255,255,255,0.8);
        }
      }

      &-logo {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: 4px;
      }

      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }

  &-user {
    position: absolute;
    bottom: 0; // if copyright 40px
    left: 0;
    width: 100%;
    border-top: 1px solid color(~`colorPalette("@{primary-color}", 4.8)`);
    padding: 14px 16px;
    padding-bottom: 9px;
    z-index: 1;
    cursor: pointer;

    &-avatar {
      display: inline-block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 15px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }

    &-titles {
      display: inline-block;
      position: relative;
      top: -8px;

      &-name {
        color: rgba(255,255,255,1);
        font-size: 15px;
        margin-bottom: 1px;
      }

      &-position {
        color: rgba(255,255,255,0.5);
        font-size: 13px;
      }
    }

    &-arrow {
      position: absolute;
      right: 20px;
      top: 29px;
      color: rgba(255,255,255,0.5);
      transition: color @animation-duration-base;
    }

    &:hover &-arrow {
      color: rgba(255,255,255,1);
    }
  }

  &-copyright {
    height: 40px;
    position: absolute;
    z-index: 1;
    border-top: 1px solid color(~`colorPalette("@{primary-color}", 4.8)`);
    padding: 9px 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgba(255,255,255,0.5);
  }
}

.page {
  height: 100%;

  &-header {
    -webkit-app-region: drag;
    z-index: 999;

    .ant-btn, .ant-input {
      -webkit-app-region: no-drag;
    }

    position: fixed;
    width: inherit;
    background-color: #fff;
    height: @header-height;
    line-height: @header-line-height;
    border-bottom: 1px solid @border-color-split;
    padding: 7px 15px;

    &-actions {
      text-align: right;

      .ant-btn {
        margin-right: 10px;
        padding: 0 9px;
        // color: rgba(0,0,0,0.3) !important;

        // &:hover, &:focus {
          // color: rgba(0,0,0,1) !important;
        // }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-navigation {
      padding: 0 10px;
      color: @text-color;

      &-back {
        margin-left: 10px;
        margin-right: 10px;
      }

      &-copy-window {
        margin-left: 10px;
      }

      &-hide-sider {
        padding: 0 8px;
      }
      
      &.ant-btn[disabled] {
        cursor: default;
        filter: grayscale(1);
      }
    }

    &-search {
      width: 220px;
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    padding-top: @header-height;
  }
}