<div nz-row>
  <div nz-col nzSpan="6" [nzXl]="5" class="sider-col"  [class.sider-col-closed]="!navigationService.siderOpened">
    <div class="sider">
      <div class="sider-logo">
        <img src="/assets/logo-white.png" class="sider-logo-image"> Evoncore
      </div>

      <ul nz-menu nzTheme="dark" [nzMode]="'inline'" class="sider-menu">
        <li nz-menu-group>
          <span title>Menu</span>
          <ul>
            <li nz-menu-item class="sider-menu-item" [routerLink]="['/personal-area/messages']">
              <app-picon size="18" name="chat"></app-picon>
              <span class="sider-menu-item-title">Messages</span>
              <div class="sider-menu-item-badge"></div>
            </li>
            <li nz-menu-item class="sider-menu-item" [routerLink]="['/personal-area/contacts']">
              <app-picon size="18" name="user-group-man-woman"></app-picon>
              <span class="sider-menu-item-title">Contacts</span>
            </li>
            <li nz-menu-item class="sider-menu-item" [routerLink]="['/personal-area/jobs']">
              <app-picon size="18" name="find-matching-job" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Find a Job</span>
            </li>
          </ul>
        </li>
        <li nz-menu-group *ngIf="navigationService.companyMenu; else companiesMenu">
          <span title (click)="onCompanyMenuBack()" style="cursor: pointer;"><i class="anticon anticon-left" style="margin-right: 5px;"></i> Evoncore</span>
          <ul>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="combo-chart" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Dashboard</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="event-accepted-tentatively" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Events</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="calendar" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Calendar</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="group-of-projects" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Projects</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="conference" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Teams</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="groups" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Employees</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="briefcase" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Jobs</span>
            </li>
            <li nz-menu-item class="sider-menu-companies-item" [routerLink]="['/personal-area/company/dashboard']">
              <app-picon size="18" name="books" [piconClass]="'sider-menu-icon-jobs'"></app-picon>
              <span class="sider-menu-item-title">Help Desk</span>
            </li>
          </ul>
        </li>
        <ng-template #companiesMenu>
          <li nz-menu-group>
            <span title>Companies</span>
            <ul>
              <li nz-menu-item class="sider-menu-companies-item" (click)="onCompany()">
                <div class="sider-menu-companies-item-logo" style="background-image: url('/assets/logo-white.png');"></div>
                <span class="sider-menu-item-title">Evoncore</span>
              </li>
              <li nz-menu-item class="sider-menu-companies-item sider-menu-companies-item-add" [routerLink]="['/personal-area/create-company']">
                <app-picon size="20" name="add-property"></app-picon>
                <span class="sider-menu-item-title">Add new company</span>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>

      <div class="sider-user" [routerLink]="['/personal-area/profile']">
        <div class="sider-user-avatar" style="background-image: url('https://randomuser.me/api/portraits/men/17.jpg');"></div>
        <div class="sider-user-titles">
          <div class="sider-user-titles-name">
            {{ firstName }} {{ lastName }}
          </div>
          <div class="sider-user-titles-position">
            {{ position }}
          </div>
        </div>
        <div class="sider-user-arrow">
          <div class="anticon anticon-right"></div>
        </div>
      </div>

      <!-- <div class="sider-copyright">
        <div class="sider-copyright-title">
          &copy; {{ currentYear }} Evoncore - All Rights Reserved
        </div>
      </div> -->
    </div>
  </div>
  <div nz-col [nzSpan]="navigationService.siderOpened ? '18' : '24'" [nzXl]="19" class="page">
    <div nz-row class="page-header">
      <div nz-col [nzSpan]="12">
        <button nz-button nzType="ghost" (click)="onToggleSider()" class="page-header-navigation page-header-navigation-hide-sider">
          <i class="anticon anticon-menu-fold" *ngIf="navigationService.siderOpened; else openSiderIcon"></i>
          <ng-template #openSiderIcon>
            <i class="anticon anticon-menu-unfold"></i>
          </ng-template>
        </button>
        <button nz-button nzType="ghost" (click)="onHistoryBack()" class="page-header-navigation page-header-navigation-back" [disabled]="historyNavigationBackDisabled">
          <i class="anticon anticon-arrow-left"></i>
        </button>
        <button nz-button nzType="ghost" (click)="onHistoryNext()" class="page-header-navigation page-header-navigation-next" [disabled]="historyNavigationNextDisabled">
          <i class="anticon anticon-arrow-right"></i>
        </button>
        <button nz-button nzType="ghost" class="page-header-navigation page-header-navigation-copy-window">
          <!--<i class="anticon anticon-switcher"></i>-->
          <i class="anticon anticon-select"></i>
        </button>
  
        <nz-input-group nzSuffixIcon="anticon anticon-search" style="display: inline-block; width: 240px; height: 32px; margin-left: 15px; position: relative; top: 1px;">
          <input type="text" nz-input placeholder="Search...">
        </nz-input-group>
      </div>

      <div nz-col [nzSpan]="12" class="page-header-actions">
        <button nz-button nzType="ghost">
          <app-picon size="16" name="online-support"></app-picon>
        </button>

        <button nz-button nzType="ghost" (click)="onNotifications()" class="page-header-notification">
          <app-picon size="16" name="appointment-reminders"></app-picon>
        </button>

        <button nz-button nzType="ghost" (click)="onSettings()" class="page-header-settings">
          <app-picon size="16" name="settings"></app-picon>
        </button>
      </div>
    </div>

    <div class="page-content">
      <div class="router-outlet-parent" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>

<nz-drawer [nzWidth]="340" [nzClosable]="false" [nzVisible]="notificationsVisible" nzPlacement="right" nzTitle="Notifications" (nzOnClose)="notificationsVisible = false">
  <app-notification-message title="Recommendations" timestamp="16 hours ago" icon="chat">
    New recommendation for <span>John Doe</span> has been prepared.
  </app-notification-message>
  <app-notification-message title="Applications" timestamp="5 days ago" icon="copy">
    Application of <span>Sarah Williams</span> is waiting for your approval.
  </app-notification-message>
  <app-notification-message title="Applications" timestamp="Oct 26" icon="copy">
    Application of <span>Anna Smith</span> is waiting for your approval.
  </app-notification-message>
  <app-notification-message title="Policies" timestamp="Oct 17" icon="contract">
    Changes in the health and security policies.
  </app-notification-message>
  <app-notification-message title="Products" timestamp="Sep 23" icon="shopping-basket-2">
    The John Doe company has a new product available.
  </app-notification-message>
  <app-notification-message title="Recommendations" timestamp="Sep 21" icon="chat">
    New recommendation for <span>Maria Lopez</span> has been prepared.
  </app-notification-message>
</nz-drawer>

<nz-drawer [nzWidth]="340" [nzClosable]="false" [nzVisible]="settingsVisible" nzPlacement="right" nzTitle="Settings" (nzOnClose)="settingsVisible = false">
  <ul class="settings-drawer-menu">
    <li [routerLink]="['/auth/login']"><app-picon size="18" name="logout-rounded-left"></app-picon> <span class="settings-drawer-menu-item-title">Logout</span></li>
  </ul>
</nz-drawer>