<div class="company">

  <div class="company-header clearfix">
    <div class="company-header-info clearfix">
      <div class="company-header-logo-parent">
        <div class="company-header-logo" style="background-image: url('/assets/logo-white.png');"></div>
      </div>
      <div class="company-header-parent">
        <div class="company-header-name">Evoncore</div>
      </div>
      <div class="company-header-parent">
        <div class="company-header-count">
          <div class="company-header-count-icon">
            <app-picon size="14" name="worldwide-location"></app-picon>
          </div> 
          <span>{{ locationsCount }}</span> Locations
        </div>
      </div>
      <div class="company-header-parent">
        <div class="company-header-count">
          <div class="company-header-count-icon">
            <app-picon size="14" name="user"></app-picon>
          </div> 
          <span>{{ employeesCount }}</span> Employees
        </div>
      </div>
      <div class="company-header-parent">
        <div class="company-header-count">
          <div class="company-header-count-icon">
            <app-picon size="14" name="training"></app-picon>
          </div> 
          <span>{{ projectsCount }}</span> Projects
        </div>
      </div>
      <div class="company-header-parent">
        <div class="company-header-count">
          <div class="company-header-count-icon">
            <app-picon size="14" name="conference"></app-picon>
          </div> 
          <span>{{ teamsCount }}</span> Teams
        </div>
      </div>
    </div>

    <div class="company-header-actions clearfix">
      <div class="company-header-parent-right">
        <div *ngIf="hiddenManage; else manageButton">
          <button nz-button nzType="primary" [routerLink]="['/personal-area/company/dashboard']">Dashboard</button>
        </div>
        <ng-template #manageButton>
          <button nz-button nzType="primary" [routerLink]="['/personal-area/company/manage']">Manage</button>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="company-content">
    <div class="router-outlet-parent" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>

</div>
