@import '../../../../../vars.less';

:host {
  /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.router-outlet-parent {
  position: relative;
  height: 100%;
}

.company {
  position: relative;
  width: inherit;
  height: 100%;
  overflow: hidden;

  &-header {
    height: @header-height;
    background-color: #fff;
    border-bottom: 1px solid @border-color-split;
    width: 100%;

    &-info {
      width: 80%;
      text-align: left;
      float: left;
    }

    &-actions {
      width: 20%;
      text-align: right;
      float: left;
      padding-right: 15px;
    }

    &-parent {
      height: @header-height;
      position: relative;
      float: left;
      line-height: @header-height - 3px;
    }

    &-parent-right {
      height: @header-height;
      position: relative;
      float: right;
      line-height: 53px;
    }

    &-logo {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 1px solid @border-color-base;

      &-parent {
        height: @header-height - 2px;
        position: relative;
        width: 40px;
        margin-left: 10px;
        float: left;
      }
    }

    &-name {
      display: inline-block;
      font-size: 19px;
      font-weight: 400;
      margin-left: 11px;
    }

    &-count {
      font-weight: 400;
      color: rgba(0,0,0,0.5);
      margin-left: 20px;
      margin-top: 1px;
      font-size: 13px;
      line-height: @header-height;
      user-select: none;
      cursor: default;

      span {
        display: inline-block;
        font-weight: 500;
        margin-left: 7px;
        margin-right: 3px;
      }

      &-icon {
        display: inline-block;
        position: relative;
        top: -1px;
      }
    }
  }

  &-content {
    overflow-y: auto;
    height: 100%;
    padding-bottom: @header-height;
  }

}