@import '../vars.less';

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  display: block;

  &-hide {
    display: none;
  }
}

.screen {
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s;
  background-color: #fff;

  &-show {
    opacity: 1;
  }
}

.titlebar {
  height: 23px;
  background-color: @primary-color;
}

#content {
  // REMOVE
  height: 100%;
  // background-color: #efecec;
  background-color: #fff;
  // REMOVE
  // height: calc(100% ~"-" @toolbar-height);
}