<div class="screen" [class.screen-show]="!loading">
  <!-- <div class="titlebar"></div> -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
<img src="/assets/loading.svg" class="loading" [class.loading-hide]="!loading">