:host ::ng-deep .ant-tabs-tabpane, .ant-tabs-tabpane-inactive, .ant-tabs-tabpane-active {
  height: 100%;
  padding: 15px;
  padding-top: 0;
}

:host ::ng-deep .ant-tabs-bar {
  margin-bottom: 0;
}

:host ::ng-deep .manage-dropdown-body .ant-select {
  width: 100%;
}

.manage {
  &-header {
    padding-top: 15px;

    .ant-btn {
      margin-right: 15px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-dropdown {
    width: 100%;
    padding: 15px 0;
    padding-right: 15px;
    
    &-title {
      margin-bottom: 6px;
      font-size: 15px;
      font-weight: 300;
    }

    &-body {

    }
  }

  &-content div:last-child &-dropdown {
    padding-right: 0;
  }
}