<nz-tabset [nzAnimated]="false">
  <nz-tab nzTitle="Administration">
    <div class="manage-header">
      <button nz-button nzType="primary">Add role</button>
      <button nz-button nzType="primary">Add group</button>
    </div>
    <div class="manage-content">
      <div nz-col nzSpan="8">
        <div class="manage-dropdown">
          <div class="manage-dropdown-title">
            Who can edit employee profiles:
          </div>
          <div class="manage-dropdown-body">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="manage-dropdown">
          <div class="manage-dropdown-title">
            Profile access:
          </div>
          <div class="manage-dropdown-body">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="manage-dropdown">
          <div class="manage-dropdown-title">
            Some dropdown:
          </div>
          <div class="manage-dropdown-body">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="New Employees">
    <div nz-row class="manage-content">
      <div nz-col nzSpan="8">
        <div class="manage-dropdown">
          <div class="manage-dropdown-title">
            Who can confirm new employees:
          </div>
          <div class="manage-dropdown-body">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="manage-dropdown">
          <div class="manage-dropdown-title">
            Add a new employee to the group:
          </div>
          <div class="manage-dropdown-body">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="manage-dropdown">
          <div class="manage-dropdown-title">
            Some dropdown:
          </div>
          <div class="manage-dropdown-body">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
              <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
              <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>