<div class="notification-message clearfix">
  <div class="notification-message-icon">
    <div class="notification-message-icon-content">
      <app-picon size="18" name="{{ icon }}"></app-picon>
    </div>
  </div>
  <div class="notification-message-text">
    <div class="notification-message-text-title">{{ title }}</div>
    <div class="notification-message-text-content">
      <ng-content></ng-content>
    </div>
    <div class="notification-message-text-timestamp">
      {{ timestamp }}
    </div>
  </div>
</div>
