@import '../../../../../vars.less';

.notification-message {
  border-bottom: 1px solid @border-color-split;
  padding: 15px 10px;
  font-weight: 300;

  &-icon {
    display: block;
    width: 9.5%;
    float: left;
    padding-left: 0.5%;
  }

  &-text {
    display: block;
    float: left;
    width: 85%;
    color: @text-color;
    padding-right: 5%;

    &-title {
      text-transform: uppercase;
      font-size: 12px;
      color: rgba(0,0,0,0.6);
      margin-top: 1px;
    }

    &-content {
      margin: 10px 0;
      margin-bottom: 5px;
      font-weight: 400;

      span {
        font-weight: 500;
      }
    }

    &-timestamp {
      font-style: italic;
      font-size: 12px;
      color: rgba(0,0,0,0.45);
    }
  }
}