@import '../../../../../vars.less';

:host ::ng-deep .ant-tabs-bar {
  // position: fixed;
  // width: 100%;
  // z-index: 2;
  background-color: #fff;
  margin: 0;
}

:host ::ng-deep .ant-tabs-tab-disabled .picon-tab {
  filter: grayscale(1);
}

:host ::ng-deep .ant-tabs{
  height: 100%;
}

:host ::ng-deep .ant-tabs-content {
  height: 100%;
}

:host ::ng-deep .ant-tabs-tabpane, .ant-tabs-tabpane-inactive, .ant-tabs-tabpane-active {
  // padding-top: 44px;
  background-color: @background-color; 
  height: 100%;
}

:host ::ng-deep .ant-timeline {
  padding-top: 5px;
}

:host ::ng-deep .ant-progress-bg {
  // background: linear-gradient(to right, rgba(34,40,48,0.88) 0%, rgba(34,40,48,1) 0%, rgba(128,128,128,1) 79%);
  // background: linear-gradient(to right, #232931, #3f4249, #5c5e63, #7a7b7d, #999999);
  background: linear-gradient(to right, #232931, #3b3f45, #55565b, #6e6e71, #888888);
}

.profile {
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-sider {
    border-right: 1px solid @border-color-split;
    height: 100%;
    text-align: center;

    &-col {
      width: 360px;
      height: 100%;
      float: left;
    }

    &-top-panel {
      padding: 30px 0;
      border-bottom: 1px solid @border-color-split;
      position: relative;

      &-edit-button {
        position: absolute;
        top: 15px;
        left: 15px;

        .ant-btn {
          padding: 0 10px;
        }
      }
    }

    &-bottom-panel {
      &-description {
        &-text {
          line-height: 26px;
          color: @text-color;
          text-align: left;
          padding: 15px;
          padding-top: 8px;
          padding-bottom: 0;
          width: 100%;
          color: rgba(0,0,0,0.5);
          border: none;
          resize: none;
          margin-bottom: 14px;
        }
      }
    }

    &-panel {
      border-bottom: 1px solid @border-color-split;
      font-weight: 400;
      padding-bottom: 10px;
      color: rgba(0,0,0,0.4);

      &-scroll-wrapper {
        height: 100%;
        overflow-y: scroll;
    
        &::-webkit-scrollbar {
          width: 0;
        }
      }
      
      &-title {
        margin: 15px;
        margin-bottom: 3px;
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        color: @text-color;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &-avatar {
      display: inline-block;
      width: 115px;
      height: 115px;
      border-radius: 50%;
      background-color: @primary-color;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    }

    &-name {
      margin-top: 10px;
      font-size: 24px;
      color: rgba(0,0,0,0.9);
    }

    &-position {
      margin-top: 5px;
      font-size: 17px;
      color: rgba(0,0,0,0.4);
    }

    &-counts {
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 14px;
      color: rgba(0,0,0,0.6);

      &-item {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }

      &-counter {
        font-weight: 500;
        margin-left: 5px;
      }
    }
  }

  &-tabs {
    height: 100%;

    &-col {
      width: calc(100% ~"-" 360px);
      height: 100%;
      overflow: hidden;
      float: left;
    }

    &-title {
      display: inline-block;
      margin-left: 10px;
    }

    &-posts {
      height: 100%;
      padding-bottom: @tabs-toolbar-height; // if &-input displayed 158px else @tabs-toolbar-height

      &-input {
        // REMOVE
        display: none;
        // REMOVE
        background-color: #fff;
        padding: 15px;
        text-align: right;
        border-bottom: 1px solid @border-color-split;
        padding-bottom: 15px;

        .ant-btn {
          margin-top: 15px;
        }

        textarea {
          text-align: left;
          resize: none;
          line-height: 26px;
          color: rgba(0,0,0,0.5);
        }
      }

      &-content {
        height: 100%;
        padding: 15px;
        overflow-y: auto;

        &-header {
          &-avatar {
            float: left;
            width: 52px;

            &-image {
              border-radius: 50%;
              width: 40px;
              height: 40px;
              box-shadow: 0 1px 2px rgba(0,0,0,0.2);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }

          &-titles {
            float: left;
            width: calc(50% ~"-" 52px);
          }

          &-actions {
            float: left;
            width: 50%;
            text-align: right;

            &-date {
              color: rgba(0,0,0,0.4);
            }
          }

          &-name {
            font-size: 14px;
            font-weight: 500;
          }

          &-position {
            font-size: 13px;
            font-weight: 300;
            color: rgba(0,0,0,0.4);
          }
        }

        &-text {
          &-description {
            margin-top: 15px;
            line-height: 26px;
          }
        }

        &-post {
          margin-top: 15px;
          padding: 15px;
          background-color: #fff;
          border: 1px solid @border-color-split;
          border-radius: @border-radius-base;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    &-skills {
      padding: 15px;
      padding-bottom: 20px;
      background-color: #fff;

      &-scroll-wrapper {
        height: 100%;
        overflow-y: auto;
        padding-bottom: @tabs-toolbar-height;
      }

      &-category {
        margin-top: 30px;

        &-title {
          font-weight: 500;
          font-size: 18px;
          color: @text-color;
          margin-bottom: 20px;
        }

        &-items {
          padding: 0 20px;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      &-item {
        &:first-child &-title {
          margin-top: 0;
        }

        &-title {
          margin: 15px 0;
          margin-bottom: 3px;
          font-weight: 500;
          font-size: 13px;
          color: rgba(0,0,0,0.5);
  
          &-first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}