<ng-template #notificationTemplate>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <app-picon size="22" name="save-close"></app-picon>
      </span>
      <div class="ant-notification-notice-message">Profile updated successfully.</div>
      <div class="ant-notification-notice-description"></div>
    </div>
  </div>
</ng-template>

<div class="profile clearfix">
  <div class="profile-sider-col">
    <div class="profile-sider">
      <div class="profile-sider-top-panel">
        <div class="profile-sider-top-panel-edit-button">
          <div *ngIf="isEdit; else edit">
            <button nz-button [nzType]="ghost" (click)="onSave(notificationTemplate)">
              <app-picon size="14" name="save"></app-picon>
            </button>
          </div>
          <ng-template #edit>
            <button nz-button [nzType]="ghost" (click)="onEdit()">
              <app-picon size="14" name="edit"></app-picon>
            </button>
          </ng-template>
        </div>
        <div class="profile-sider-avatar" style="background-image: url('https://randomuser.me/api/portraits/men/17.jpg');"></div>
        <div class="profile-sider-name">
          {{ firstName }} {{ lastName }}
        </div>
        <div class="profile-sider-position">
          {{ position }}
        </div>
      </div>
      <div class="profile-sider-panel profile-sider-bottom">
        <div class="profile-sider-counts">
          <div class="profile-sider-counts-item">
            <app-picon size="14" name="user-group-man-woman"></app-picon> <span class="profile-sider-counts-counter">{{ contactsCount }}</span> Contacts
          </div>
          <div class="profile-sider-counts-item">
            <app-picon size="14" name="for-experienced"></app-picon> <span class="profile-sider-counts-counter">{{ experienceCount }}</span>y. Experience
          </div>
          <div class="profile-sider-counts-item">
            <app-picon size="14" name="medal"></app-picon> <span class="profile-sider-counts-counter">{{ awardsCount }}</span> Awards
          </div>
        </div>
      </div>
      <div class="profile-sider-panel-scroll-wrapper">
        <div class="profile-sider-panel profile-sider-bottom-panel profile-sider-bottom-panel-description">
          <div class="profile-sider-panel-title">Description</div>
          <div *ngIf="isEdit; else editDescription">
            <textarea rows="3" nz-input [(ngModel)]="description" class="profile-sider-bottom-panel-description-text"></textarea>
          </div>
          <ng-template #editDescription>
            <p class="profile-sider-bottom-panel-description-text">{{ description }}</p>
          </ng-template>
        </div>
        <div class="profile-sider-panel profile-sider-bottom-panel">
          <div class="profile-sider-panel-title">Contact information</div>
          <app-property-container [properties]="contacts"></app-property-container>
        </div>
        <div class="profile-sider-panel">
          <div class="profile-sider-panel-title">Social Channels</div>
          <app-property-container [properties]="socials"></app-property-container>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-tabs-col">
    <div class="profile-tabs">
      <nz-tabset [nzAnimated]="false">
        <nz-tab [nzTitle]="thoughtsTitleTemplate">
          <ng-template #thoughtsTitleTemplate>
            <app-picon size="18" name="collaboration"></app-picon> <span class="profile-tabs-title">Thoughts</span>
          </ng-template>

          <div class="profile-tabs-posts">
            <div class="profile-tabs-posts-input">
              <textarea rows="1" nz-input [(ngModel)]="inputValue" placeholder="Click here to add a thought..."></textarea>
              <button nz-button nzType="primary">Add a Thought</button>
            </div>

            <div class="profile-tabs-posts-content">
              <div class="profile-tabs-posts-content-post">
                <div class="profile-tabs-posts-content-header clearfix">
                  <div class="profile-tabs-posts-content-header-avatar">
                    <div class="profile-tabs-posts-content-header-avatar-image" style="background-image: url('https://randomuser.me/api/portraits/women/90.jpg');"></div>
                  </div>
                  <div class="profile-tabs-posts-content-header-titles">
                    <div class="profile-tabs-posts-content-header-name">Kimberly Estrada</div>
                    <div class="profile-tabs-posts-content-header-position">Administrator</div>
                  </div>
                  <div class="profile-tabs-posts-content-header-actions">
                    <div class="profile-tabs-posts-content-header-actions-date">27th Apr, 2018</div>
                  </div>
                </div>
                <div class="profile-tabs-posts-content-text">
                  <div class="profile-tabs-posts-content-text-description">I add some tags about Vladimir so we can easilly work with him in the future. In general I'm very happy that we found him.</div>
                </div>
              </div>

              <div class="profile-tabs-posts-content-post">
                <div class="profile-tabs-posts-content-header clearfix">
                  <div class="profile-tabs-posts-content-header-avatar">
                    <div class="profile-tabs-posts-content-header-avatar-image" style="background-image: url('https://randomuser.me/api/portraits/men/22.jpg');"></div>
                  </div>
                  <div class="profile-tabs-posts-content-header-titles">
                    <div class="profile-tabs-posts-content-header-name">Ralph Gilbert</div>
                    <div class="profile-tabs-posts-content-header-position">Administrator</div>
                  </div>
                  <div class="profile-tabs-posts-content-header-actions">
                    <div class="profile-tabs-posts-content-header-actions-date">26th Apr, 2018</div>
                  </div>
                </div>
                <div class="profile-tabs-posts-content-text">
                  <div class="profile-tabs-posts-content-text-description">I spoke with Vladimir yesterday. He's very excited about our campaign. Can't wait to see what he can produce with our product.</div>
                </div>
              </div>

              <div class="profile-tabs-posts-content-post">
                <div class="profile-tabs-posts-content-header clearfix">
                  <div class="profile-tabs-posts-content-header-avatar">
                    <div class="profile-tabs-posts-content-header-avatar-image" style="background-image: url('https://randomuser.me/api/portraits/women/24.jpg');"></div>
                  </div>
                  <div class="profile-tabs-posts-content-header-titles">
                    <div class="profile-tabs-posts-content-header-name">Lisa Stanley</div>
                    <div class="profile-tabs-posts-content-header-position">Product Manager</div>
                  </div>
                  <div class="profile-tabs-posts-content-header-actions">
                    <div class="profile-tabs-posts-content-header-actions-date">22th Apr, 2018</div>
                  </div>
                </div>
                <div class="profile-tabs-posts-content-text">
                  <div class="profile-tabs-posts-content-text-description">He can be a good asset in our campaign. The only thing is that he's not cheap. $2 in CPC... it's a little to high price. But he have a lot of influencers.</div>
                </div>
              </div>

              <div class="profile-tabs-posts-content-post">
                <div class="profile-tabs-posts-content-header clearfix">
                  <div class="profile-tabs-posts-content-header-avatar">
                    <div class="profile-tabs-posts-content-header-avatar-image" style="background-image: url('https://randomuser.me/api/portraits/men/33.jpg');"></div>
                  </div>
                  <div class="profile-tabs-posts-content-header-titles">
                    <div class="profile-tabs-posts-content-header-name">Russell Fields</div>
                    <div class="profile-tabs-posts-content-header-position">Administrator</div>
                  </div>
                  <div class="profile-tabs-posts-content-header-actions">
                    <div class="profile-tabs-posts-content-header-actions-date">10th Apr, 2018</div>
                  </div>
                </div>
                <div class="profile-tabs-posts-content-text">
                  <div class="profile-tabs-posts-content-text-description">I just add Vladimir to our fav. I spoke with him in the phone and he tell me that he can help us. Yay! :)</div>
                </div>
              </div>

              <div class="profile-tabs-posts-content-post">
                <div class="profile-tabs-posts-content-header clearfix">
                  <div class="profile-tabs-posts-content-header-avatar">
                    <div class="profile-tabs-posts-content-header-avatar-image" style="background-image: url('https://randomuser.me/api/portraits/men/76.jpg');"></div>
                  </div>
                  <div class="profile-tabs-posts-content-header-titles">
                    <div class="profile-tabs-posts-content-header-name">Reginald Dixon</div>
                    <div class="profile-tabs-posts-content-header-position">Software Engineer</div>
                  </div>
                  <div class="profile-tabs-posts-content-header-actions">
                    <div class="profile-tabs-posts-content-header-actions-date">8th Apr, 2018</div>
                  </div>
                </div>
                <div class="profile-tabs-posts-content-text">
                  <div class="profile-tabs-posts-content-text-description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                </div>
              </div>

              <div class="profile-tabs-posts-content-post">
                <div class="profile-tabs-posts-content-header clearfix">
                  <div class="profile-tabs-posts-content-header-avatar">
                    <div class="profile-tabs-posts-content-header-avatar-image" style="background-image: url('https://randomuser.me/api/portraits/women/79.jpg');"></div>
                  </div>
                  <div class="profile-tabs-posts-content-header-titles">
                    <div class="profile-tabs-posts-content-header-name">Mariah Bridges</div>
                    <div class="profile-tabs-posts-content-header-position">UI/UX Designer</div>
                  </div>
                  <div class="profile-tabs-posts-content-header-actions">
                    <div class="profile-tabs-posts-content-header-actions-date">6th Apr, 2018</div>
                  </div>
                </div>
                <div class="profile-tabs-posts-content-text">
                  <div class="profile-tabs-posts-content-text-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="skillsTitleTemplate">
          <ng-template #skillsTitleTemplate>
            <app-picon size="18" name="students"></app-picon> <span class="profile-tabs-title">Skills</span>
          </ng-template>
          <div class="profile-tabs-skills-scroll-wrapper">
            <div class="profile-tabs-skills">
              <div class="profile-tabs-skills-category">
                <div class="profile-tabs-skills-category-title">Languages:</div>
                <div class="profile-tabs-skills-category-items">
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Golang</p>
                    <nz-progress [nzPercent]="30"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Node.js</p>
                    <nz-progress [nzPercent]="75"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">JavaScript</p>
                    <nz-progress [nzPercent]="90"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">MySQL</p>
                    <nz-progress [nzPercent]="40"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Bash</p>
                    <nz-progress [nzPercent]="10"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">HTML</p>
                    <nz-progress [nzPercent]="90"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">CSS</p>
                    <nz-progress [nzPercent]="80"></nz-progress>
                  </div>
                </div>
              </div>
              <div class="profile-tabs-skills-category">
                <div class="profile-tabs-skills-category-title">Technologies:</div>
                <div class="profile-tabs-skills-category-items">
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">React.js</p>
                    <nz-progress [nzPercent]="60"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Angular.js</p>
                    <nz-progress [nzPercent]="50"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">.NET Core</p>
                    <nz-progress [nzPercent]="20"></nz-progress>
                  </div>
                </div>
              </div>
              <div class="profile-tabs-skills-category">
                <div class="profile-tabs-skills-category-title">Libraries:</div>
                <div class="profile-tabs-skills-category-items">
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Lodash</p>
                    <nz-progress [nzPercent]="50"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">jQuery</p>
                    <nz-progress [nzPercent]="70"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Twitter Bootstrap</p>
                    <nz-progress [nzPercent]="80"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Socket.io</p>
                    <nz-progress [nzPercent]="70"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Redux</p>
                    <nz-progress [nzPercent]="95"></nz-progress>
                  </div>
                </div>
              </div>
              <div class="profile-tabs-skills-category">
                <div class="profile-tabs-skills-category-title">Industry Knowledge:</div>
                <div class="profile-tabs-skills-category-items">
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Database Design</p>
                    <nz-progress [nzPercent]="65"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Sketch</p>
                    <nz-progress [nzPercent]="15"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Adobe Photoshop</p>
                    <nz-progress [nzPercent]="25"></nz-progress>
                  </div>
                </div>
              </div>
              <div class="profile-tabs-skills-category">
                <div class="profile-tabs-skills-category-title">Tools:</div>
                <div class="profile-tabs-skills-category-items">
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">TypeScript</p>
                    <nz-progress [nzPercent]="90"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">CoffeeScript</p>
                    <nz-progress [nzPercent]="60"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Stylus</p>
                    <nz-progress [nzPercent]="90"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Sass</p>
                    <nz-progress [nzPercent]="90"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Less</p>
                    <nz-progress [nzPercent]="70"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Webpack</p>
                    <nz-progress [nzPercent]="45"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Git</p>
                    <nz-progress [nzPercent]="80"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Postman</p>
                    <nz-progress [nzPercent]="75"></nz-progress>
                  </div>
                  <div class="profile-tabs-skills-item">
                    <p class="profile-tabs-skills-item-title">Firebase</p>
                    <nz-progress [nzPercent]="25"></nz-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="experienceTitleTemplate" [nzDisabled]="true">
          <ng-template #experienceTitleTemplate>
            <app-picon size="18" name="for-experienced" piconClass="tab"></app-picon> <span class="profile-tabs-title">Experience</span>
          </ng-template>
          <nz-timeline>
            <nz-timeline-item style="color: #aaa;" nzColor="green"><span style="font-weight: 600; color: #222;">GBSFO</span> from 10-21-2016</nz-timeline-item>
            <nz-timeline-item style="color: #aaa;"><span style="font-weight: 600; color: #222;">EXSY</span> from 01-07-2016 to 14-10-2016</nz-timeline-item>
            <nz-timeline-item style="color: #aaa;"><span style="font-weight: 600; color: #222;">Freelance</span> from 01-07-2014 to 1-07-2016</nz-timeline-item>
          </nz-timeline>
        </nz-tab>
        <nz-tab [nzTitle]="awardsTitleTemplate" [nzDisabled]="true">
          <ng-template #awardsTitleTemplate>
            <app-picon size="18" name="medal" piconClass="tab"></app-picon> <span class="profile-tabs-title">Awards</span>
          </ng-template>
          Content of Awards
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
