<div class="register">
  <div class="register-title">{{ localize('register.step-profile.title') }}</div>

  <input class="register-input" (ngModelChange)="onChange($event, 'firstName')" [(ngModel)]="form.firstName" nz-input [placeholder]="localize('register.step-profile.form.firstName')">
  <input class="register-input" (ngModelChange)="onChange($event, 'lastName')" [(ngModel)]="form.lastName" nz-input [placeholder]="localize('register.step-profile.form.lastName')">
  <input class="register-input" (ngModelChange)="onChange($event, 'country')" [(ngModel)]="form.country" nz-input [placeholder]="localize('register.step-profile.form.country')">
  <input class="register-input" (ngModelChange)="onChange($event, 'birthday')" [(ngModel)]="form.birthday" nz-input [placeholder]="localize('register.step-profile.form.birthday')">
  <input class="register-input" (ngModelChange)="onChange($event, 'gender')" [(ngModel)]="form.gender" nz-input [placeholder]="localize('register.step-profile.form.gender')">
  
  <div class="register-nav-buttons">
    <button [routerLink]="['../step-1']" class="register-nav-button register-nav-button-previous" nz-button nzType="primary">
      <i class="anticon anticon-left"></i>
    </button>
    <button [nzLoading]="loading" (click)="onNext()" class="register-nav-button register-nav-button-next" nz-button nzType="primary">
      <i class="anticon anticon-right"></i>
    </button>
  </div>
</div>