<div class="register">
  <div class="register-title">{{ localize('register.step-user.title') }}</div>

  <input class="register-input" (ngModelChange)="onChange($event, 'userName')" [(ngModel)]="form.userName" nz-input [placeholder]="localize('register.step-user.form.userName')">
  <input class="register-input" (ngModelChange)="onChange($event, 'email')" [(ngModel)]="form.email" nz-input [placeholder]="localize('register.step-user.form.email')">
  <input class="register-input" (ngModelChange)="onChange($event, 'phoneNumber')" [(ngModel)]="form.phoneNumber" nz-input [placeholder]="localize('register.step-user.form.phoneNumber')">
  <input class="register-input" (ngModelChange)="onChange($event, 'password')" [(ngModel)]="form.password" nz-input type="password" [placeholder]="localize('register.step-user.form.password')">
  <input class="register-input" [(ngModel)]="form.repeatPassword" nz-input type="password" [placeholder]="localize('register.step-user.form.repeatPassword')">
  
  <div class="register-nav-buttons">
    <button [nzLoading]="loading" (click)="onNext()" class="register-nav-button register-nav-button-next" nz-button nzType="primary">
      <i class="anticon anticon-right"></i>
    </button>
  </div>
</div>