<div 
  class="property-label" 
  [class.property-label-has-container]="hasContainer"
  [class.property-label-without-label]="!withLabel"
  [ngClass]="!withLabel && showLabel ? 'property-label-without-label-active' : ''"
>
  <app-property-popover [content]="popoverContent" [(visible)]="visible">
    <div *ngIf="withLabel">
      <app-picon piconClass="in-label" size="15" [name]="property.label.icon" *ngIf="withIcon"></app-picon>
      {{ property.label.title }}
    </div>
    <div *ngIf="!withLabel">
      <app-picon size="15" name="services"></app-picon>
    </div>
  </app-property-popover>
</div>

<ng-template #popoverContent>
  <ul nz-menu [nzMode]="'vertical'">
    <li nz-menu-item>
      <input
        type="text" 
        nz-input
        [ngModel]="property.label.title" 
        [(ngModel)]="popupInput" 
        (blur)="onBlur()" 
        (keypress)="onPressEnterHelper($event, onPressEnter)"
      >
    </li>

    <li nz-menu-group>
      <span title>Выберите тип</span>
      <ul>
        <li nz-submenu>
          <span title>
            <app-picon piconClass="in-label" size="15" [name]="property.label.icon"></app-picon>
            {{ property.label.placeholder }}
          </span>
          <ul class="property-label-popover-submenu">
            <li 
              nz-menu-item 
              *ngFor="let property of properties" 
              [nzDisabled]="property.disabled"
              (click)="onSelectProperty(property)"
            >
              <app-picon piconClass="in-label" size="15" [name]="property.label.icon"></app-picon>
              {{ property.label.placeholder }}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</ng-template>