@import '../../../../../vars.less';

:host ::ng-deep .picon.picon-in-label {
  position: relative;
  margin-right: 8px;
  top: -2px;
}

.property-label {
  display: block;
  cursor: pointer;
  transition: background-color @base-transition-duration;
  float: left;
  padding: 0 @base-inline-indent;
  // REMOVE
  padding: 0 @base-inline-indent;
  padding-right: 0;
  text-align: left;
  // REMOVE
  width: 40%;
  height: @base-inline-height;
  line-height: @base-inline-height;
  color: @text-color-support;
  border-top-left-radius: @border-radius-base;
  border-bottom-left-radius: @border-radius-base;

  &-has-container {
    width: (40% - @base-indent-half);
    margin-left: @base-indent-half;
    border-radius: @border-radius-base;
  }

  &-without-label {
    width: 0%;
    padding: 0;
    opacity: 0;
    transition: width @animation-duration-slow, opacity @animation-duration-slow;
    text-align: center;

    &-active {
      width: @base-inline-height;
      opacity: 1;
    }

    .anticon {
      margin: 0;
    }
  }
  
  &:hover {
    background-color: @color-hover-gray;
  }

  &-popover-submenu {
    padding: 6px 0;
    margin-bottom: 0;
    
    .ant-menu-item {
      height: 32px;
      line-height: 32px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}