@import './theme.less';

::-webkit-scrollbar {
  width: 8px; // 8px
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ebebeb; // @primary-1
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: @primary-color;
}

@primary-color: #232931; // #232931
@secondary-color: #00adb5; // #00adb5
@background-color: #f1f1f1; // #f1f1f1 // #f2f2f2 // #eee

@header-height: 56px;
@toolbar-height: 45px;
@tabs-toolbar-height: 45px;

@text-color: #222;
@text-color-support: #555;
@border-color: #d9d9d9;
@divider-color: #e8e8e8;

@base-inline-height: @btn-height-base;
@base-inline-indent: 16px;
@base-indent: 3%;
@base-indent-half: (@base-indent / 2);
@base-transition-duration: @animation-duration-base;

@color-focus-gray: #f5f5f5;
@color-hover-gray: @color-focus-gray; // #eee
@color-active-gray: @color-focus-gray;

@box-shadow-base: 0 0 0 1px @divider-color;

.ant-popover-arrow {
  box-shadow: 0 0 0 1px @divider-color !important;
}

.ant-notification-notice.personal-area-notification {
  color: #fff;
  background-color: @primary-color;

  &.personal-area-notification-single {
    .ant-notification-notice {
      &-message {
        margin-top: 3px;
      }

      &-close {
        margin-top: 6px;
      }
    }
  }

  .ant-notification-notice {
    &-message {
      color: rgba(255,255,255,1);
    }

    &-description {
      color: rgba(255,255,255,0.7);
    }

    &-close-x {
      color: rgba(255,255,255,0.6);
      transition: color @animation-duration-fast;

      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }
}

body {
  background-color: @primary-color !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ant-drawer {
  &-header {
    padding-bottom: 17px;
  }

  &-body {
    padding: 0;
  }

  &-title {
    font-size: 19px;
    font-weight: 400;
  }
}

.settings-drawer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  
  &-item {
    &-title {
      margin-left: 15px;
    }
  }

  li {
    display: inline-block;
    cursor: pointer;
    padding: 10px 24px;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }
}

.hidden {
  display: none;
}

// light
// @menu-dark-color: @text-color;
// @menu-dark-bg: #fff;
// @menu-dark-arrow-color: @text-color;
// @menu-dark-submenu-bg: #fff;
// @menu-dark-highlight-color: @text-color;
// @menu-dark-item-active-bg: #fff;

@menu-dark-color: #fff;
@menu-dark-bg: @primary-color;
@menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: @primary-color;
@menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: @primary-color;