@import '../../../../../vars.less';

.property-date {
  width: 100%;

  &-container {
    width: 100%;
  }

  .ant-calendar-picker-icon {
    display: none;
  }

  .ant-input {
    display: block;
    border: 0;
    width: 100%;

    &:active, &:focus, &:hover, & * {
      border: none;
      box-shadow: none;
      outline: none;
    }

    &:hover, &:focus {
      background-color: @color-hover-gray;
    }
  }

  .anticon {
    background-color: transparent;
  }
}