<div nz-row class="auth" [class.auth-full]="showAuth">
  <div nz-col nzSpan="7" [nzXl]="6" class="auth-col auth-col-form">
    <div class="auth-form">
      <div class="auth-welcome"><span class="app-name">Evoncore</span> {{ localize('authPage.title') }}</div>
      <nz-radio-group [(ngModel)]="isLogin">
        <label nz-radio-button [nzValue]="true" [routerLink]="['/auth/login']">{{ localize('authPage.loginButton') }}</label>
        <label nz-radio-button [nzValue]="false" [routerLink]="['/auth/register/step-1']">{{ localize('authPage.registrationButton') }}</label>
      </nz-radio-group>
      <div class="router-outlet-parent" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="17" [nzXl]="18" class="auth-col">
    <nz-select style="width: 100px;" (ngModelChange)="onChangeLanguage($event)" class="auth-language-picker" [ngModel]="locale">
      <nz-option nzLabel="English" nzValue="en-US"></nz-option>
      <nz-option nzLabel="Русский" nzValue="ru-RU"></nz-option>
    </nz-select>
    <div class="auth-background">
      <div class="auth-background-image"></div>
    </div>
  </div>
</div>