@import '../../../../vars.less';

:host {
  /deep/ router-outlet ~ * {
    position: absolute;
  }

  /deep/ .ant-radio-group {
    width: 100%;

    .ant-radio-button-wrapper {
      width: 50%;
      text-align: center;
    }
  }
}

.auth {
  width: 100%;
  height: 100%;
  background-color: transparent;

  .router-outlet-parent {
    border-top: 1px solid @border-color-base;
    margin-top: 30px;
    position: relative;
  }

  &-welcome {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
  }

  .app-name {
    display: inline;
    color: @primary-color;
  }

  &-col {
    height: inherit;

    &-form {
      background-color: #fff;
    }
  }

  &-form {
    padding: 30px;
    padding-top: 25px;
  }
  
  &-language-picker {
    position: relative;
    z-index: 1;
    margin: 15px;
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: color(~`colorPalette("@{link-color}", 7)`);
    background-color: #232931;
    overflow: hidden;

    &-image {
      width: 100%;
      height: 100%;
      background: url('assets/login-bg.png') no-repeat center; // login-bg.png
      background-size: cover;
    }
  }
}